body {
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 100vh;
  background-color: sandybrown;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  background-color: aqua;
}

.gameoflife {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 90%;
  flex-grow: 1;
  background-color: royalblue;
  &__cuadricula {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 75%;
    background-color: sienna;
  }
  &__cell-x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20px;
    padding: 0px;
    background-color: blue;
  }
  &__botones {
    width: 90%;
    height: 20%;
    background-color: rgb(143, 160, 45);
  }
  &__dead {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    background-color: grey;
    margin: 2px;
  }
  &__life {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    background-color: green;
    margin: 2px;
  }
}
